h1 {
  color: green;
}
#outerContainer {
    background: linear-gradient(110deg, #2a2a2a 1px, transparent 5px) 0 5px,
    linear-gradient(77deg, #2a2a2a 1px, transparent 5px) 10px 0px,
    linear-gradient(2deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(4deg, #222 -2px, transparent 5px) 10px 5px,
    linear-gradient(96deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 20%, #1a1a1a 80%, #1a1919 42%, transparent 13%, transparent 33%, #1a1919 59%, #090F33);
    background-color: #131313;
    background-size: 5px 12px;
    height: 1170px;
    width: 2000px;
}
